<% if notice %>
  <div class="bg-blue-100 border-l-4 border-blue-500 text-blue-700 p-4 mb-4" id="flash-messages" role="alert">
    <p><%= notice %></p>
  </div>
<% end %>
<% if alert %>
  <div class="bg-red-100 border-l-4 border-red-500 text-red-700 p-4 mb-4" role="alert">
    <p><%= alert %></p>
  </div>
<% end %>